@import "./global_var.scss";

body{
	paddding:0;
 	margin:0;
 	background:$ocean-blue;
}
.FullScreen{
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width:100%;
	height:100%;
	overflow: hidden;
}
.MainScreen{
	position:absolute;
	width:62.5vh;
	max-width:100%;
	height:100vh;
	top:0;
	bottom:0;
	// padding: $margin-size;
	// margin:auto;
}
.MainPage{
	position: absolute;
	top:$margin-size;
	bottom:$margin-size;
	left:$margin-size;
	right:$margin-size;
}
.CenterWrapper{
	display: flex;
	justify-content: center;
	align-items:center;
}
.Center{
	display:block;
	text-align: center;
	margin: auto;
}
.Button{
	cursor:pointer;	
}
.HintRegion{	
	color:white;
	font-size: $hint-size;
	width:75% !important;
}