@import "./global_var.scss";

body{
	paddding:0;
 	margin:0;
}
.FullScreen{
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width:100%;
	height:100%;
	overflow: hidden;
}
.MainScreen{
	position:absolute;
	width:56.25vh;
	left: calc((100% - 56.25vh)/2);
	top:0;
	bottom:0;
	padding: $margin-size;
	margin:0;
	
}
.CenterWrapper{
	display: flex;
	justify-content: center;
	align-items:center;
}
.Center{
	display:block;
	text-align: center;
	margin: auto;
}
.Button{
	cursor:pointer;	
}
.HintRegion{	
	color:white;
	font-size: $hint-size;
	width:75% !important;
}