@mixin pad{
  @media(max-width:768px){
    @content;
  }
}
@mixin mobile{
  @media(max-width:375px){
    @content;
  }
}
html{
	font-size:18px;

	@include pad{
		font-size:14px;
	}
	@include mobile{
		font-size:10px;
	}

}

$header-color:gray;
$hint-size:1.85rem;

$button_size:1rem;

$poem-color:white;
$weather-color:#E8FFD3;
$poem-size:1.75rem;
$weather-size:1.5rem;
$poem-title-size:2rem;

$button-color:white;
$margin-size:5%;

$ocean-blue:#54A7C1;


$item-transition-time:.5s;
$page-transition-time:2s;

