$header-color:gray;
$hint-size:1.85rem;

$button_size:1rem;

$poem-color:white;
$weather-color:#E8FFD3;
$poem-size:1.75rem;
$weather-size:1.5rem;
$poem-title-size:2rem;

$button-color:white;
$margin-size:2.5rem;

$ocean-blue:#54A7C1;


